/* Custom Theme variables */
:root {
    --nav-bg: #333;
    --nav-link-color: #fff;
    --nav-link-hover-bg: #111;
    --dropdown-bg: #f9f9f9;
    --active-bg: #675656;
    --body-text-color: #333;      /* General text color */
    --heading-text-color: #222;   /* Headings, if desired */
}


h1 {
    color: --heading-text-color;
    font-size: 50px;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

p {
    color: --body-text-color;
    font-size: 30px;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}


body {
    background-image:url('../img/home.jpeg');
    background-size:cover;    /* Ensures the image covers the whole screen */
    background-repeat: no-repeat;  /* Prevents tiling */
    /* background-position: center;   Centers the image */
}
.overlay {
    position: fixed;
    /* top: 0; */
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity as needed */
    z-index: -1; /* Keeps it behind your content */
}
