body{
    height: 100%;
    margin: 0;
    padding: 0;
}

 p {
    white-space: pre-line; /* preserves newlines, but collapses extra spaces */
  }
  .overlay {
    /* position: fixed; */
    position: absolute;
    left: 0;
    width: 100%;
    /* height: 100%; */
    background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity as needed */
    z-index: -1; /* Keeps it behind your content */
}